**/.angular
**/.metrics
**/.classpath
**/.dockerignore
**/.env
**/.tye
**/.idea
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.yaml
**/*.yml
**/*.md
**/*.user
**/*.http
**/dist
**/bin
**/k8s
**/metrics
**/components
**/ymal
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj